@page
@model UpskillWebApp.Pages.Jobs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Job_reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Job_reference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date_start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date_start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date_finished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date_finished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Quoted_amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Quoted_amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Invoiced_amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Invoiced_amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Hours_worked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Hours_worked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Days_worked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Days_worked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date_due)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date_due)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Notes)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Job.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
