@page
@model UpskillWebApp.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Job_reference)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Job_reference)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date_start)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date_start)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date_finished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date_finished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Quoted_amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Quoted_amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Invoiced_amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Invoiced_amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Hours_worked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Hours_worked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Days_worked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Days_worked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Date_due)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Date_due)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Job.Notes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Job.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
