@page
@model UpskillWebApp.Pages.Jobs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Job_reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Date_start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Date_finished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Quoted_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Invoiced_amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Hours_worked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Days_worked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Date_due)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Postcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job[0].Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Job) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job_reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_finished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quoted_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invoiced_amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours_worked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days_worked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_due)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
