@page
@model Upskill.Pages.Staff.IndexModel

@{
    ViewData["Title"] = "Staff";
}

<h1>Staff</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffMember[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffMember[0].Surname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StaffMember) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-outline-primary">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
