@page
@model Upskill.Pages.Customers.IndexModel

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Town)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer[0].Postcode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customer) {
        <tr>
            <td>
                <a asp-page="/Jobs/Index" asp-route-customerID="@item.ID">
                    @Html.DisplayFor(modelItem => item.Surname)
                </a>
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postcode)
            </td>
            <td style="width: 27%">
                <a asp-page="/Jobs/Create" asp-route-customer="@item.ID" class="btn btn-outline-success">+Job</a>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-outline-primary">Edit</a>
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-outline-primary">Details</a>
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
