@page
@model Upskill.Pages.Jobs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Job</h4>
<hr />

<div>
    <div class="row">
        <div class="col-md-5">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.JobReference)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.JobReference)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.Address)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.Town)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.Town)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.Postcode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.Postcode)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.Status)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.HoursWorked)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.HoursWorked)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.DaysWorked)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.DaysWorked)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.DueDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.DueDate)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.StartDate)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.FinishedDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.FinishedDate)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.Notes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.Notes)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Job.Customer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Job.Customer.FullName)
                </dd>
            </dl>
        </div>
        <div class="col-md-7">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Job.StaffJobs.FirstOrDefault().StaffMember)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Job.StaffJobs.FirstOrDefault().HoursWorked)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Job.StaffJobs.FirstOrDefault().Notes)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var task in Model.Job.StaffJobs)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelTask => task.StaffMember.FullName)</td>
                            <td>@Html.DisplayFor(modelTask => task.HoursWorked)</td>
                            <td>@Html.DisplayFor(modelTask => task.Notes)</td>
                            <td>
                                <form method="post">
                                    <input class="btn btn-outline-danger" type="submit" value="Delete" asp-page-handler="Delete" asp-route-id="@task.ID" asp-route-jobId="@task.JobID" />
                                </form>
                            </td>
                        </tr>
                    }
                    <tr>
                        <td>
                            <a asp-page="/StaffJobs/Create" asp-route-id="@Model.Job.ID">Add Task</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table>
                <thead>
                    <tr>
                        <th>Total Hours</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Job.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
